<?xml version="1.0" encoding="utf-8"?>
<AcisSMEConfiguration >
  <SMEEndpoints>
	  <Endpoint>
		  <Name>japaneast</Name>
		  <EndpointType>Prod</EndpointType>
		  <Url></Url>
		  <SMEConfig>
			  <ConfigElement>
				  <Key>env</Key>
				  <Value>Prod</Value>
			  </ConfigElement>
		  </SMEConfig>
		  <Secrets>
			  <Secret>
				  <Identifier>ACISStorConn</Identifier>
				  <Path>https://etprodacistyokv.vault.azure.net/secrets/ACISStorConn</Path>
			  </Secret>
		  </Secrets>
	  </Endpoint>
	  <Endpoint>
		  <Name>australiaeast</Name>
		  <EndpointType>Prod</EndpointType>
		  <Url></Url>
		  <SMEConfig>
			  <ConfigElement>
				  <Key>env</Key>
				  <Value>Prod</Value>
			  </ConfigElement>
		  </SMEConfig>
		  <Secrets>
			  <Secret>
				  <Identifier>ACISStorConn</Identifier>
				  <Path>https://etprodaciseaukv.vault.azure.net/secrets/ACISStorConn</Path>
			  </Secret>
		  </Secrets>
	  </Endpoint>
	  <Endpoint>
		  <Name>uksouth</Name>
		  <EndpointType>Prod</EndpointType>
		  <Url></Url>
		  <SMEConfig>
			  <ConfigElement>
				  <Key>env</Key>
				  <Value>Prod</Value>
			  </ConfigElement>
		  </SMEConfig>
		  <Secrets>
			  <Secret>
				  <Identifier>ACISStorConn</Identifier>
				  <Path>https://etprodacissukkv.vault.azure.net/secrets/ACISStorConn</Path>
			  </Secret>
		  </Secrets>
	  </Endpoint>
	  <Endpoint>
		  <Name>southeastasia</Name>
		  <EndpointType>Prod</EndpointType>
		  <Url></Url>
		  <SMEConfig>
			  <ConfigElement>
				  <Key>env</Key>
				  <Value>Prod</Value>
			  </ConfigElement>
		  </SMEConfig>
		  <Secrets>
			  <Secret>
				  <Identifier>ACISStorConn</Identifier>
				  <Path>https://etprodacissingkv.vault.azure.net/secrets/ACISStorConn</Path>
			  </Secret>
		  </Secrets>
	  </Endpoint>
	  <Endpoint>
		  <Name>centralus</Name>
		  <EndpointType>Prod</EndpointType>
		  <Url></Url>
		  <SMEConfig>
			  <ConfigElement>
				  <Key>env</Key>
				  <Value>Prod</Value>
			  </ConfigElement>
		  </SMEConfig>
		  <Secrets>
			  <Secret>
				  <Identifier>ACISStorConn</Identifier>
				  <Path>https://etprodaciscuskv.vault.azure.net/secrets/ACISStorConn</Path>
			  </Secret>
		  </Secrets>
	  </Endpoint>
	  <Endpoint>
		  <Name>eastus2euap</Name>
		  <EndpointType>Prod</EndpointType>
		  <Url></Url>
		  <SMEConfig>
			  <ConfigElement>
				  <Key>env</Key>
				  <Value>Prod</Value>
			  </ConfigElement>
		  </SMEConfig>
		  <Secrets>
			  <Secret>
				  <Identifier>ACISStorConn</Identifier>
				  <Path>https://eteuapaciseus2kv.vault.azure.net/secrets/ACISStorConn</Path>
			  </Secret>
		  </Secrets>
	  </Endpoint>
	  <Endpoint>
		  <Name>centraluseuap</Name>
		  <EndpointType>Prod</EndpointType>
		  <Url></Url>
		  <SMEConfig>
			  <ConfigElement>
				  <Key>env</Key>
				  <Value>Prod</Value>
			  </ConfigElement>
		  </SMEConfig>
		  <Secrets>
			  <Secret>
				  <Identifier>ACISStorConn</Identifier>
				  <Path>https://ettestaciseus2kv.vault.azure.net/secrets/ACISStorConn</Path>
			  </Secret>
		  </Secrets>
	  </Endpoint>
	  <Endpoint>
		  <Name>westus2</Name>
		  <EndpointType>Prod</EndpointType>
		  <Url></Url>
		  <SMEConfig>
			  <ConfigElement>
				  <Key>env</Key>
				  <Value>Prod</Value>
			  </ConfigElement>
		  </SMEConfig>
		  <Secrets>
			  <Secret>
				  <Identifier>ACISStorConn</Identifier>
				  <Path>https://etprodaciswus2kv.vault.azure.net/secrets/ACISStorConn</Path>
			  </Secret>
		  </Secrets>
	  </Endpoint>
	  <Endpoint>
		  <Name>francecentral</Name>
		  <EndpointType>Prod</EndpointType>
		  <Url></Url>
		  <SMEConfig>
			  <ConfigElement>
				  <Key>env</Key>
				  <Value>Prod</Value>
			  </ConfigElement>
		  </SMEConfig>
		  <Secrets>
			  <Secret>
				  <Identifier>ACISStorConn</Identifier>
				  <Path>https://etprodaciscfrkv.vault.azure.net/secrets/ACISStorConn</Path>
			  </Secret>
		  </Secrets>
	  </Endpoint>
	  <Endpoint>
		  <Name>northeurope</Name>
		  <EndpointType>Prod</EndpointType>
		  <Url></Url>
		  <SMEConfig>
			  <ConfigElement>
				  <Key>env</Key>
				  <Value>Prod</Value>
			  </ConfigElement>
		  </SMEConfig>
		  <Secrets>
			  <Secret>
				  <Identifier>ACISStorConn</Identifier>
				  <Path>https://etprodacisneukv.vault.azure.net/secrets/ACISStorConn</Path>
			  </Secret>
		  </Secrets>
	  </Endpoint>
	  <Endpoint>
		  <Name>eastus</Name>
		  <EndpointType>Prod</EndpointType>
		  <Url></Url>
		  <SMEConfig>
			  <ConfigElement>
				  <Key>env</Key>
				  <Value>Prod</Value>
			  </ConfigElement>
		  </SMEConfig>
		  <Secrets>
			  <Secret>
				  <Identifier>ACISStorConn</Identifier>
				  <Path>https://etprodaciseuskv.vault.azure.net/secrets/ACISStorConn</Path>
			  </Secret>
		  </Secrets>
	  </Endpoint>
	  <Endpoint>
		  <Name>southcentralus</Name>
		  <EndpointType>Prod</EndpointType>
		  <Url></Url>
		  <SMEConfig>
			  <ConfigElement>
				  <Key>env</Key>
				  <Value>Prod</Value>
			  </ConfigElement>
		  </SMEConfig>
		  <Secrets>
			  <Secret>
				  <Identifier>ACISStorConn</Identifier>
				  <Path>https://etprodacisscuskv.vault.azure.net/secrets/ACISStorConn</Path>
			  </Secret>
		  </Secrets>
	  </Endpoint>
	  <Endpoint>
		  <Name>westeurope</Name>
		  <EndpointType>Prod</EndpointType>
		  <Url></Url>
		  <SMEConfig>
			  <ConfigElement>
				  <Key>env</Key>
				  <Value>Prod</Value>
			  </ConfigElement>
		  </SMEConfig>
		  <Secrets>
			  <Secret>
				  <Identifier>ACISStorConn</Identifier>
				  <Path>https://etprodacisweukv.vault.azure.net/secrets/ACISStorConn</Path>
			  </Secret>
		  </Secrets>
	  </Endpoint>
	  <Endpoint>
		  <Name>eastus2</Name>
		  <EndpointType>Prod</EndpointType>
		  <Url></Url>
		  <SMEConfig>
			  <ConfigElement>
				  <Key>env</Key>
				  <Value>Prod</Value>
			  </ConfigElement>
		  </SMEConfig>
		  <Secrets>
			  <Secret>
				  <Identifier>ACISStorConn</Identifier>
				  <Path>https://etprodaciseus2kv.vault.azure.net/secrets/ACISStorConn</Path>
			  </Secret>
		  </Secrets>
	  </Endpoint>
  </SMEEndpoints>
  <ContactInfo>
    <!-- Fill out e-mail address for an e-mail address to contact your team, including @microsoft.com -->
    <ContactEmailAddress>liftrelasticdev@microsoft.com</ContactEmailAddress>
    <!-- Fill out the SERVICE name for your team in ICM, e.g., Acis and Runners is ACIS Team's -->
    <IcmService>Liftr-Elastic</IcmService>
    <!-- Fill out the TEAM name for your team in ICM, e.g., ACIS-->
    <IcmTeam>Triage</IcmTeam>
    <!-- https://servicetree.msftcloudes.com/main.html#/ServiceModel/Home/1c90e39d-18ec-4bd3-994e-0da16cba453d -->
    <ServiceTreeServiceId>42815c77-2fba-4eb9-b052-5f0c545cedf3</ServiceTreeServiceId>
  </ContactInfo>
</AcisSMEConfiguration>