<?xml version="1.0" encoding="utf-8"?>
<AcisSMEConfiguration >
  <SMEEndpoints>
    <Endpoint>
      <Name>DatadogCanaryEUS</Name>
      <EndpointType>PROD</EndpointType>
      <Url></Url>
      <SMEConfig>
        <ConfigElement>
          <Key>env</Key>
          <Value>PROD</Value>
        </ConfigElement>
      </SMEConfig>
      <Secrets>
        <Secret>
          <Identifier>ACISStorConn</Identifier>
          <Path>https://ddeuapaciseuskv.vault.azure.net/secrets/ACISStorConn</Path>
        </Secret>
      </Secrets>
    </Endpoint>
  <Endpoint>
      <Name>DatadogCanaryCUS</Name>
      <EndpointType>PROD</EndpointType>
      <Url></Url>
      <SMEConfig>
        <ConfigElement>
          <Key>env</Key>
          <Value>PROD</Value>
        </ConfigElement>
      </SMEConfig>
      <Secrets>
        <Secret>
          <Identifier>ACISStorConn</Identifier>
          <Path>https://ddeuapaciscuskv.vault.azure.net/secrets/ACISStorConn</Path>
        </Secret>
      </Secrets>
    </Endpoint>
    <Endpoint>
      <Name>DatadogProdWUS2</Name>
      <EndpointType>PROD</EndpointType>
      <Url></Url>
      <SMEConfig>
        <ConfigElement>
          <Key>env</Key>
          <Value>PROD</Value>
        </ConfigElement>
      </SMEConfig>
      <Secrets>
        <Secret>
          <Identifier>ACISStorConn</Identifier>
          <Path>https://ddprodaciswus2kv.vault.azure.net/secrets/ACISStorConn</Path>
        </Secret>
      </Secrets>
    </Endpoint>
  </SMEEndpoints>
  <ContactInfo>
    <!-- Fill out e-mail address for an e-mail address to contact your team, including @microsoft.com -->
    <ContactEmailAddress>liftrdev@microsoft.com</ContactEmailAddress>
    <!-- Fill out the SERVICE name for your team in ICM, e.g., Acis and Runners is ACIS Team's -->
    <IcmService>Liftr-Datadog</IcmService>
    <!-- Fill out the TEAM name for your team in ICM, e.g., ACIS-->
    <IcmTeam>Triage</IcmTeam>
    <!-- https://servicetree.msftcloudes.com/main.html#/ServiceModel/Home/c6ca85d0-80f3-49b5-b6c0-da1de7dbfc6f -->
    <ServiceTreeServiceId>244c8bea-01f9-4623-97fc-36a83b83df4a</ServiceTreeServiceId>
  </ContactInfo>
</AcisSMEConfiguration>