<?xml version="1.0" encoding="utf-8"?>
<AcisSMEConfiguration >
  <SMEEndpoints>
    <Endpoint>
      <Name>West US 2</Name>
      <EndpointType>Prod</EndpointType>
      <Url></Url>
      <SMEConfig>
        <ConfigElement>
          <Key>env</Key>
          <Value>Prod</Value>
        </ConfigElement>
      </SMEConfig>
      <Secrets>
        <Secret>
          <Identifier>ACISStorConn</Identifier>
          <Path>https://logzprodaciswus2kv.vault.azure.net/secrets/ACISStorConn</Path>
        </Secret>
      </Secrets>
    </Endpoint>
    <Endpoint>
      <Name>East US 2 EUAP</Name>
      <EndpointType>Prod</EndpointType>
      <Url></Url>
      <SMEConfig>
        <ConfigElement>
          <Key>env</Key>
          <Value>Prod</Value>
        </ConfigElement>
      </SMEConfig>
      <Secrets>
        <Secret>
          <Identifier>ACISStorConn</Identifier>
          <Path>https://logzeuapaciseus2kv.vault.azure.net/secrets/ACISStorConn</Path>
        </Secret>
      </Secrets>
    </Endpoint>
  </SMEEndpoints>
  <ContactInfo>
    <!-- Fill out e-mail address for an e-mail address to contact your team, including @microsoft.com -->
    <ContactEmailAddress>liftrlogzall@microsoft.com</ContactEmailAddress>
    <!-- Fill out the SERVICE name for your team in ICM, e.g., Acis and Runners is ACIS Team's -->
    <IcmService>Liftr-Logz</IcmService>
    <!-- Fill out the TEAM name for your team in ICM, e.g., ACIS-->
    <IcmTeam>Triage</IcmTeam>
    <!-- https://servicetree.msftcloudes.com/main.html#/ServiceModel/Home/1c90e39d-18ec-4bd3-994e-0da16cba453d -->
    <ServiceTreeServiceId>1c90e39d-18ec-4bd3-994e-0da16cba453d</ServiceTreeServiceId>
  </ContactInfo>
</AcisSMEConfiguration>