<?xml version="1.0" encoding="utf-8"?>
<AcisSMEConfiguration >
  <SMEEndpoints>
    <Endpoint>
      <Name>EAST US</Name>
      <EndpointType>Prod</EndpointType>
      <Url></Url>
      <SMEConfig>
        <ConfigElement>
          <Key>env</Key>
          <Value>Prod</Value>
        </ConfigElement>
      </SMEConfig>
      <Secrets>
        <Secret>
          <Identifier>ACISStorConn</Identifier>
          <Path>https://dtprodaciseuskv.vault.azure.net/secrets/ACISStorConn</Path>
        </Secret>
      </Secrets>
    </Endpoint>
    <Endpoint>
      <Name>WEST EUROPE</Name>
      <EndpointType>Prod</EndpointType>
      <Url></Url>
      <SMEConfig>
        <ConfigElement>
          <Key>env</Key>
          <Value>Prod</Value>
        </ConfigElement>
      </SMEConfig>
      <Secrets>
        <Secret>
          <Identifier>ACISStorConn</Identifier>
          <Path>https://dtprodacisweukv.vault.azure.net/secrets/ACISStorConn</Path>
        </Secret>
      </Secrets>
    </Endpoint>
    <Endpoint>
      <Name>EAST US 2 EUAP</Name>
      <EndpointType>Prod</EndpointType>
      <Url></Url>
      <SMEConfig>
        <ConfigElement>
          <Key>env</Key>
          <Value>Prod</Value>
        </ConfigElement>
      </SMEConfig>
      <Secrets>
        <Secret>
          <Identifier>ACISStorConn</Identifier>
          <Path>https://dteuapaciseus2kv.vault.azure.net/secrets/ACISStorConn</Path>
        </Secret>
      </Secrets>
    </Endpoint>
  </SMEEndpoints>
  <ContactInfo>
    <!-- Fill out e-mail address for an e-mail address to contact your team, including @microsoft.com -->
    <ContactEmailAddress>liftrdynatracedev@microsoft.com</ContactEmailAddress>
    <!-- Fill out the SERVICE name for your team in ICM, e.g., Acis and Runners is ACIS Team's -->
    <IcmService>Liftr-Dynatrace</IcmService>
    <!-- Fill out the TEAM name for your team in ICM, e.g., ACIS-->
    <IcmTeam>Triage</IcmTeam>
    <!-- https://servicetree.msftcloudes.com/main.html#/ServiceModel/Home/95ffb70e-c105-4c4c-b844-c2bfd03b1df1 -->
    <ServiceTreeServiceId>95ffb70e-c105-4c4c-b844-c2bfd03b1df1</ServiceTreeServiceId>
  </ContactInfo>
</AcisSMEConfiguration>