<?xml version="1.0" encoding="utf-8"?>
<AcisSMEConfiguration >
  <SMEEndpoints>
    <Endpoint>
      <Name>NginxDevWEU</Name>
      <EndpointType>TEST</EndpointType>
      <Url></Url>
      <SMEConfig>
        <ConfigElement>
          <Key>env</Key>
          <Value>TEST</Value>
        </ConfigElement>
      </SMEConfig>
      <Secrets>
        <Secret>
          <Identifier>ACISStorConn</Identifier>
          <Path>https://ngxdevacisweukv.vault.azure.net/secrets/ACISStorConn</Path>
        </Secret>
      </Secrets>
    </Endpoint>
    <Endpoint>
      <Name>NginxDevWUS2</Name>
      <EndpointType>TEST</EndpointType>
      <Url></Url>
      <SMEConfig>
        <ConfigElement>
          <Key>env</Key>
          <Value>TEST</Value>
        </ConfigElement>
      </SMEConfig>
      <Secrets>
        <Secret>
          <Identifier>ACISStorConn</Identifier>
          <Path>https://ngxdevaciswus2kv.vault.azure.net/secrets/ACISStorConn</Path>
        </Secret>
      </Secrets>
    </Endpoint>
  </SMEEndpoints>
  <ContactInfo>
    <!-- Fill out e-mail address for an e-mail address to contact your team, including @microsoft.com -->
    <ContactEmailAddress>liftrdevredmond@microsoft.com</ContactEmailAddress>
    <!-- Fill out the SERVICE name for your team in ICM, e.g., Acis and Runners is ACIS Team's -->
    <IcmService>Liftr-Nginx</IcmService>
    <!-- Fill out the TEAM name for your team in ICM, e.g., ACIS-->
    <IcmTeam>Triage</IcmTeam>
    <!-- https://servicetree.msftcloudes.com/main.html#/ServiceModel/Home/4fa121f5-cd18-4b3d-a650-1c994aec79d2 -->
    <ServiceTreeServiceId>4fa121f5-cd18-4b3d-a650-1c994aec79d2</ServiceTreeServiceId>
  </ContactInfo>
</AcisSMEConfiguration>