<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
    <add key="repositoryPath" value="./packages" />
  </config>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="InternalLiftrFeed" value="https://msazure.pkgs.visualstudio.com/_packaging/Liftr/nuget/v3/index.json" />
    <add key="InternalOfficialFeed" value="https://msazure.pkgs.visualstudio.com/_packaging/Official/nuget/v3/index.json" />
    <add key="Toolset" value="https://msazure.pkgs.visualstudio.com/_packaging/Toolset/nuget/v3/index.json" />
    <add key="IfxAuditLinux" value="https://msazure.pkgs.visualstudio.com/_packaging/IfxAuditLinux/nuget/v3/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <InternalLiftrFeed>
      <add key="Username" value="cdpteam" />
      <add key="ClearTextPassword" value="%CDP_DEFAULT_CLIENT_PACKAGE_PAT%" />
    </InternalLiftrFeed>
    <InternalOfficialFeed>
      <add key="Username" value="cdpteam" />
      <add key="ClearTextPassword" value="%CDP_DEFAULT_CLIENT_PACKAGE_PAT%" />
    </InternalOfficialFeed>
    <Toolset>
      <add key="Username" value="cdpteam" />
      <add key="ClearTextPassword" value="%CDP_DEFAULT_CLIENT_PACKAGE_PAT%" />
    </Toolset>
    <IfxAuditLinux>
      <add key="Username" value="cdpteam" />
      <add key="ClearTextPassword" value="%CDP_DEFAULT_CLIENT_PACKAGE_PAT%" />
    </IfxAuditLinux>
  </packageSourceCredentials>
</configuration>