<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
    <add key="repositoryPath" value="./packages" />
  </config>
  <packageSources>
    <clear />
    <add key="liftr.genevaactions-Consumption" value="https://msazure.pkgs.visualstudio.com/liftr/_packaging/liftr.genevaactions-Consumption/nuget/v3/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <InternalLiftrFeed>
      <add key="Username" value="cdpteam" />
      <add key="ClearTextPassword" value="%CDP_DEFAULT_CLIENT_PACKAGE_PAT%" />
    </InternalLiftrFeed>
    <InternalOfficialFeed>
      <add key="Username" value="cdpteam" />
      <add key="ClearTextPassword" value="%CDP_DEFAULT_CLIENT_PACKAGE_PAT%" />
    </InternalOfficialFeed>
    <Toolset>
      <add key="Username" value="cdpteam" />
      <add key="ClearTextPassword" value="%CDP_DEFAULT_CLIENT_PACKAGE_PAT%" />
    </Toolset>
    <IfxAuditLinux>
      <add key="Username" value="cdpteam" />
      <add key="ClearTextPassword" value="%CDP_DEFAULT_CLIENT_PACKAGE_PAT%" />
    </IfxAuditLinux>
  </packageSourceCredentials>
</configuration>