<?xml version="1.0" encoding="utf-8"?>
<AcisSMEConfiguration >
  <SMEEndpoints>
    <Endpoint>
      <Name>DatadogDevWUS2</Name>
      <EndpointType>HelloWorldExtensionEndpoint</EndpointType>
      <Url></Url>
      <SMEConfig>
        <ConfigElement>
          <Key>env</Key>
          <Value>Sample</Value>
        </ConfigElement>
      </SMEConfig>
      <Secrets>
        <Secret>
          <Identifier>ACISStorConn</Identifier>
          <Path>https://dddevaciswus2kv.vault.azure.net/secrets/ACISStorConn</Path>
        </Secret>
      </Secrets>
    </Endpoint>
  </SMEEndpoints>
  <ContactInfo>
    <!-- Fill out e-mail address for an e-mail address to contact your team, including @microsoft.com -->
    <ContactEmailAddress>liftrdev@microsoft.com</ContactEmailAddress>
    <!-- Fill out the SERVICE name for your team in ICM, e.g., Acis and Runners is ACIS Team's -->
    <IcmService>Project Liftr</IcmService>
    <!-- Fill out the TEAM name for your team in ICM, e.g., ACIS-->
    <IcmTeam>Triage</IcmTeam>
    <!-- https://servicetree.msftcloudes.com/main.html#/ServiceModel/Home/c6ca85d0-80f3-49b5-b6c0-da1de7dbfc6f -->
    <ServiceTreeServiceId>c6ca85d0-80f3-49b5-b6c0-da1de7dbfc6f</ServiceTreeServiceId>
  </ContactInfo>
</AcisSMEConfiguration>